<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
</head>
<body>
    <h1>EDIT</h1>
    <form action="/cars/<%=car._id%>?_method=PUT" method="post">
        <label for="name"> company :</label>
        <input type="text" name="name" id="name" placeholder="enter the company" value="<%= car.name %>">
        <label for="price"> the price :</label>
        <!-- Correct the name attribute to be "price" instead of "Price" -->
        <input type="text" name="price" id="price" placeholder="enter the price" value="<%= car.price %>">
        <label for="category"> category:</label>
        <select name="category" id="category">
            <option value="smv">smv</option>
            <option value="jeep">jeep</option>
            <option value="sudan">sudan</option>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>
